<a href="https://colab.research.google.com/github/ishan-DA/Python-Tutorial/blob/main/Day_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Day 02 of Python**

### Built in Functions:

Built in functions are globally available for your use. Some of the most commonly used Python built-in functions are the following: **print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file() and help().**

### Variables:

A variable refers to a memory address in which data is stored. A variable can have a short name but a more descriptive name is highly recommeneded.

**Rules for naming a variable:**
  * variable name must start with an alphabet;
  * variables are case-sensitive (name and Name are 2 different variables);
  * variable name can only contain alpha-numeric characters and underscores;
  * if we want to use a reserved word as a variable then we have to put underscore before variable name;

In [4]:
# Variables in Python

first_name = 'Ishan'
last_name = 'Chaurasia'
country = 'India'
city = 'New Delhi'
age = 28
skills = ['MS Excel', 'SQL', 'Python', 'Power BI']
person_info = {
   'firstname':'Ishan',
   'lastname':'Chaurasia',
   'country':'India',
   'city':'New Delhi'
   }

In [ ]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Skills: ', skills)
print('Person information: ', person_info)

In [ ]:
# Declaring multiple variable in a line

first_name, last_name, age = 'Ishan', 'Chaurasia', 28
print(first_name, last_name, age)
print('First Name:', first_name)
print('Last Name:', last_name)
print('Age:', age)

### Input and Format Functions:

In [ ]:
first_name  = input('What is your name? ')
age = input('Enter you age: ')

print(f"{first_name} is {age} years old.")

# The format() function works by replacing placeholders in a string with values that you pass as arguments.

### Casting:

Converting one data type to another data type. We use **int(), float(), str(), list, set** when doing arithmetic operations string numbers should be first converted to int or float otherise it will return an error. If we concatenate a number with a string the number should be first converted to a string.

In [ ]:
# int to float

num = 10
print(num)            # int = 10
print(float(num))     # float = 10.0

# float to int

num = 69.69
print(num)            # float = 69.69
print(int(num))       # int = 69

# int to str

num = 190794
print(num)
print(str(num))

# str to int/float

string = '11'
print(string)
print(int(string))
print(float(string))

# str to list

fname = 'Ishan'
print(fname)
fname_list = list(fname)
print(fname_list)
fname_tuple = tuple(fname)
print(fname_tuple)

______________________________________________________________________

### **Exercise**

Q1. Using the len() built-in function, find the length of your first name.

Q2. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names.

Q3. The radius of a circle is 30 meters.

  i. Calculate the area of a circle and assign the value to a variable name of **area_of_circle**

  ii. Calculate the circumference of a circle and assign the value to a variable name of **circum_of_circle**

  iii. Take radius as user input and calculate the area.

In [39]:
# Q1.

fname = 'Ishan'
print(fname,':', len(fname))

Ishan : 5

In [37]:
# Q2.

fname = input('Enter your First Name: ')
lname = input('Enter your Last Name: ')
age = input('Enter your Age: ')
country = input('Enter your Country: ')

print (fname.capitalize(), lname.capitalize())
print(age)
print(country.capitalize())

Enter your First Name: ishan
Enter your Last Name: chaurasia
Enter your Age: 28
Enter your Country: india
Ishan Chaurasia
28
India

In [44]:
# Q3

'''
  i. Formula of Area of cicle:  A = πr^2
  where A is area of circle, 'r' is the radius and π is 3.14.
'''

radius = 30
pie = 3.14
area_of_circle = pie * 30**2
print(f"Area of circle: {area_of_circle}")

'''
  ii. Formula for calculating Circumference of Circle: C = 2πr
  where C is circumferece.
'''

circum_of_circle = 2 * pie * radius
print(f"Circumferece of Circle: {circum_of_circle}")

'''
  iii. Take radius as input from the user.
'''

rad = input('Enter Radius: ')
pie = 3.14
area_of_circle = pie * int(rad)**2
print(f"Area of circle: {area_of_circle}")

Area of circle: 2826.0
Circumferece of Circle: 188.4
Enter Radius: 20
Area of circle: 1256.0