<a href="https://colab.research.google.com/github/ishan-DA/Python-Tutorial/blob/main/Day_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Day 05 of Python**

### **Lists**

There are four collection data types in Python:

* **List:** is a collection which is ordered and changeable.
* **Tuple:** is a collection which is orderes and unchangeable. Allows duplicate members.
* **Set:** is a collection which s unordered, unidexed and unmodifiable, but we can add new items to the set. Duplicates are not allowed.
* **Dictionary:** is a collection which is orderes, changeable and indexed. No duplicate are allowed.

**A list is a collection of different data types which is ordered and modifiable. A list can be empty or it may have different data types items.**

In [ ]:
# Syntax

_list = []
empty_list = []
print(len(empty_list))

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot']
animal_products = ['milk', 'meat', 'butter', 'yoghurt']
web_techs = ['MS Excel', 'Power BI','R', 'Python', 'SQL']
countries = ['UAE', 'Qatar', 'Jordan', 'Lebanon', 'Bahrain']

# Print the lists and its length
print('Fruits:', fruits)
print('Number of fruits:', len(fruits))
print('Vegetables:', vegetables)
print('Number of vegetables:', len(vegetables))
print('Animal products:',animal_products)
print('Number of animal products:', len(animal_products))
print('Web technologies:', web_techs)
print('Number of web technologies:', len(web_techs))
print('Countries:', countries)
print('Number of countries:', len(countries))

In [ ]:
# list having different data types

data = ['Ishan Chaurasia', 28, {'Country' : 'India', 'City' : 'New Delhi'}]
print(data)

In [ ]:
# list items using index

fruits = ['banana', 'kiwi', 'mango', 'apple', 'guava', 'orange']
print(fruits[3])    # prints the 4th item from the list. indexing starts with 0.
print(fruits[5])

print(fruits[-5])   # prints the 5th item from the last of the list. negative index starts with -1.
print(fruits[-6])

In [ ]:
# unpacking the list items

countries = ['Germany', 'France','Belgium','Sweden','Denmark','Finland','Norway','Iceland','Estonia']
gr, fr, bg, sw, *scandic, es = countries
print(gr)
print(fr)
print(bg)
print(sw)
print(scandic)
print(es)

In [ ]:
# slicing item from the list

print(fruits)
print(fruits[1:])     # skips the first item from the list and goes till end
print(fruits[1:4])    # skips the first item and goes till the index 3
print(fruits[::3])    # it will give every 3rd item

print(fruits[-6:])    # returns all items from the list
print(fruits[-3:-1])
print(fruits[::-1])   # reverses the list
print(fruits[::-2])   # reverse the list and skips one item.

In [ ]:
# modifying a list

color = ['red', 'blue', 'yellow']
color[0] = 'green'                  # replacing green to red.
print(color)
color[1] = 'black'
print(color)

In [ ]:
# checking items in a list

color = ['red', 'yellow', 'blue', 'brown']
exist = 'red' in color
print(exist)
exist = 'orange' in color
print(exist)

In [ ]:
# adding items to a list

color = ['red', 'yellow', 'blue', 'brown']
color.append('green')
color.append('pink')
print(color)

In [ ]:
# inserting item into a list

color = ['red', 'yellow', 'blue', 'brown']
color.insert(3, 'magenta')      # inserts to 4th index column
print(color)

In [ ]:
# removing items from a list

color = ['red', 'yellow', 'blue', 'brown']
color.remove('brown')
color.remove('yellow')
print(color)

In [ ]:
# removing items using pop

color = ['red', 'yellow', 'blue', 'brown']
color.pop()     # removes the last item
color.pop(2)    # removes the given index item
print(color)

In [ ]:
# removing items using del

color = ['red', 'yellow', 'blue', 'brown', 'pink']
del color[0]          # deletes the 0 index item
del color[1:3]        # deletes the items between given indexes leaving the index 3
print(color)
del color             # deletes the list

In [ ]:
# clearing the list items

color = ['red', 'yellow', 'blue', 'brown', 'pink']
color.clear()
print(color)

In [ ]:
# copying a list

color = ['red', 'yellow', 'blue', 'brown', 'pink']
color_copy = color.copy()
print(color_copy)

In [ ]:
# joining a list (+)

num1 = [2.0, 4.0, 6.0, 8.0, 10.0]
num2 = [1, 3, 5, 7, 9]
join = num1 + num2
print(join)

color1 = ['blue', 'black', 'red']
color2 = ['green', 'yellow', 'pink']
print(color1 + color2)

In [ ]:
# extending a list

num1 = [1, 2, 3, 4]
num2 = [5, 6, 7, 8]
num3 = [0]
num3.extend(num1)
num3.extend(num2)
print(num3)

fname = ['ishan']
lname = ['chaurasia']
fname.extend(lname)
print(fname)

In [ ]:
# counting of occurence of items in a list

color = ['red', 'brown', 'blue', 'brown', 'pink']
color.count('brown')

In [ ]:
# finding index of an item

color = ['red', 'yellow', 'blue', 'brown', 'pink']
color.index('yellow')

In [ ]:
# reversing an index

num1 = [1, 2, 3, 4, 5]
num1.reverse()
print(num1)

In [ ]:
# sorting list items

color = ['red', 'yellow', 'blue', 'brown', 'pink']
color.sort()
print(color)
color.sort(reverse = True)
print(color)

In [ ]:
color = ['red', 'yellow', 'blue', 'brown', 'pink']
print(sorted(color))
color = sorted(color, reverse = True)
print(color)

____________________________________________________________________________

### **Exercise**

Q1. Declare an empty list.

Q2. Declare a list variable named it_companies and assign initial values Meta, Google, Microsoft, Apple, IBM, Oracle, Amazon.

Q3. Add an IT company to it_companies

Q4. Slice out first 3 companies from the list.

Q5. Reverse the list in descending order using reverse() method.

Q6. Remove the last IT company from the list.

Q7. Join the following list:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

In [ ]:
# Q1

_list = []

In [ ]:
# Q2

it_companies = ['Meta', 'Google', 'Microsoft','Apple', 'IBM','Oracle', 'Amazon']
m, g, mi, a, i, o, am = it_companies

In [ ]:
# Q3

it_companies.append('TCS')
print(it_companies)

In [ ]:
# Q4

it_companies[3:]

In [ ]:
# Q5

it_companies.reverse()
print(it_companies)

In [ ]:
# Q6

it_companies.pop
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# Q7

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)

front_end.extend(back_end)        # with extend function
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']