<a href="https://colab.research.google.com/github/ishan-DA/Python-Tutorial/blob/main/Day_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Strings**

Text is a string data type. Any data type written as text is a string. Any data whether under single, double or triple quotes are strings.

In [ ]:
name = 'ishan'
print(name)
print(len(name))
sentence = "This is my Python tutorial."
print(sentence)

In [ ]:
# Multi-line string is created using single or double triple quotes.

mul_str = '''This is a
          multiline string
          in Python'''

### String Concatenation

Merging or joining 2 or more strings is called concatenation.

In [ ]:
fname = 'ishan'
lname = 'chaurasia'
full_name = fname + " " + lname
print(full_name)
print(len(full_name))

### Escape Sequence in Strings

In Python and other programming languages '\' follower by character is an escape sequence.

* \n: new line
* \t: tab (space)
* \\\\: back slash
* \\': single quote
* \\": double quote

In [ ]:
print("It's a lovely day. \nIsn't it?")
print("In every programming language, first program is \"Hello World!\"")

### String Formatting

In [ ]:
fname = 'ishan'
lname = 'chaurasia'
lang = 'python'
string = 'I am {} {} and learning {}.' .format(fname, lname, lang)
print(string)

num1, num2 = 5, 10

print('{} + {} = {}' .format(num1, num2, num1 + num2))
print('{} - {} = {}' .format(num2, num1, num2 - num1))
print('{} * {} = {}' .format(num1, num2, num1 * num2))
print('{} / {} = {}' .format(num2, num1, num2 / num1))

### Python Strings as Sequences of Characters

Python strings are sequnces of characters and share their basic methods of access with other Python ordered sequences of objects - list and tuples.

In [ ]:
# Unpacking Characters

country = 'Russia'
a, b, c, d, e, f = country
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

In [ ]:
# Accessing Characters using Strings by Index

country = 'Norway'
first_letter = country[0]
print(first_letter)
second_letter = country[1]
print(second_letter)
third_letter = country[2]
print(third_letter)
fourth_letter = country[3]
print(fourth_letter)
fifth_letter = country[4]
print(fifth_letter)
sixth_letter = country[5]
print(sixth_letter)

In [ ]:
# Slicing Python Strings

fruit = 'watermelon'

first_three = fruit[0:3]
print(first_three)
last_three = fruit[-3:]
print(last_three)

In [ ]:
# Reversing a String

fruit = 'kiwi'
print(fruit[::-1])

### String  Methods

In [ ]:
# capitalize(): Converts the first character of the string to capital letter

str = 'this is my python practice.'
print(str.capitalize())

This is my python practice.

In [ ]:
# count(): returns the occurences of substring in a string.

print(str.count('i'))
print(str.count('y', 9, 11))    #first num indicates starting position and the last denotes the end position.
print(str.count('is'))

In [ ]:
# endswith(): checks if a string ends with a specified ending. (returns true or false)

print(str.endswith('ce.'))
print(str.endswith('ce'))

In [ ]:
# format(): formats input into a nicer output

f_name = 'Ishan'
l_name = 'Chaurasia'
age = 28
job = 'Data Analyst'
country = 'India'
sentence = 'I am {} {} aged {}. I live in {}. By Profession, I am {}.'.format(f_name, l_name, age, country, job)
print(sentence)

In [ ]:
# isalnum(): checks alphanumeric character

print(str.isalnum())
str1 = 'Day04ofPython'    # False, is not an alphanumeric character
print(str1.isalnum())

In [ ]:
# isalpha(): checks if all string elements are alphabet character

string = 'DayFourOfPython'
print(string.isalpha())
string1 = 'Day Four of Python'
print(string1.isalpha())

In [ ]:
# isdecimal(): checks if all characters are in decimal

num1 = '2558725'
num2 = '255tsg89'
print(num1.isdecimal())
print(num2.isdecimal())

In [ ]:
# islower(): checks if all alphabet characters in lowercase

str1 = 'Day 04 of Python'
str2 = 'day 04 of python'
print(str1.islower())
print(str2.islower())

In [ ]:
# isupper(): checks if all alphabet characters in uppercase

str1 = 'day 04 of python'
str2 = 'DAY 04 OF PYTHON'
print(str1.isupper())
print(str2.isupper())

In [ ]:
# join(): returns a concatenated string

analyst = ['MS Excel', 'SQL', 'Python', 'Power BI']
result = ' | '.join(analyst)
print(result)

In [ ]:
# replace(): replace substring with a given string

print(str1.replace('python', 'coding'))

In [ ]:
# split(): splits the string into a given string or space

print(str1.split())

In [ ]:
# title(): returns a title cases string

print(str.title())

In [ ]:
# swapcase(): converts all uppercase to lowercase characters and vice-versa

print(str1.swapcase())
print(str2.swapcase())

In [ ]:
# startswith(): checks if a string starts with the specified string

print(str1.startswith('day'))
print(str2.startswith('python'))

______________________________________________________________________

### **Exercise**

Q1. Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.

Q2. Change all the characters to uppercase letters using upper() method. Change all the characters to lowercase letters using lower() method.

Q3. Use capitalize(), title(), swapcase() methods to format the value of the string 'Coding For All.'

Q4. Change Python for Everyone to Python for All using the replace method.

Q5. Make the following using string formatting methods:

8 + 6 = 14

8 - 6 = 2

8 * 6 = 48

8 / 6 = 1.33

8 % 6 = 2

8 // 6 = 1

8 ** 6 = 262144

In [ ]:
# Q1

print('Thirty' + ' ' + 'Days' + ' ' + 'of' + ' ' + 'Python')

In [ ]:
# Q2

str = input('Enter Your Full Name: ')
print(str.upper())
print(str.lower())

In [ ]:
# Q3

str = 'Coding For All'

print(str.capitalize())
print(str.title())
print(str.swapcase())

In [ ]:
# Q4

string = 'Python for Everyone'
print(string.replace('Everyone', 'All'))

In [ ]:
# Q5

a = 8
b = 6
c = a + b
d = a - b
e = a * b
f = a / b
g = a % b
h = a // b
i = a ** b

# Use the f-string method to print the data with placeholders
print(f"{a} + {b} = {c}")
print(f"{a} - {b} = {d}")
print(f"{a} * {b} = {e}")
print(f"{a} / {b} = {f:.2f}") # Use .2f to round to two decimal places
print(f"{a} % {b} = {g}")
print(f"{a} // {b} = {h}")
print(f"{a} ** {b} = {i}")