<a href="https://colab.research.google.com/github/ishan-DA/Python-Tutorial/blob/main/Day_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Day 01 of Python**

### Python Syntax:
A python script can be written in Pyhton shell or in the code editor. A python file has an extension '.py'.

### Python Indentation:
An indentation is a blank space. Indentation increases code readability. Python uses indentation to create a block of code.

### Comments:
Comments are very important to make code readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with (#) in Python is comment.

In [ ]:
# This is a comment.
# This is also a comment.

"""This is multiline comment
multiline comment takes multiple lines.
"""

### **Data types**

In Python there are several types of data types. Let us get started with the most common ones.

### Number:

In [ ]:
# Integer = -3, -2, -1, 0, 1, 2, 3
# Float = -4.8, -3.2, -1.6, 0, 1.6, 3.2, -4.8
# Complex = 1j, 4 + a

### String:
A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

In [ ]:
'Ishan'
'Chaurasia'
'India'
'Python'

### Booleans:
Python list is an ordered collection which allows to store different data type items

In [ ]:
True  #  Is the light on? If it is on, then the value is True
False # Is the light on? If it is off, then the value is False

### List:
Python list is an ordered collection which allows to store different data type items

In [ ]:
[10, 11, 12, 13, 14, 15]  # all are the same data types (int)
['Mango', 'Apple', 'Guava', 'Kiwi'] # all the same data types (string)
[1.2, 2.4, 3.6, 4.8, 6.0 ] # all the same data types (float)
['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float

### Dictionary:
A Python dictionary object is an unordered collection of data in a key value pair format.

In [ ]:
{
'first_name':'Ishan',
'last_name':'Chaurasia',
'country':'India',
'age':28,
'is_married':False,
'skills':['MS Excel', 'SQL',  'Power BI', 'Python']
}

### Tuple:
A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created.

In [ ]:
('Ishan', 'Ayush', 'Vaishali', 'Anshu','Aastha')

### Set:
A set is a collection of data types similar to list and tuple. Set is not an ordered collection of items.

In [ ]:
{2, 4, 6, 8}
{1.3, 2.6, 3.9}

### Checking Data Types:
The **type** function is used to check the datatype of certain variable.

In [ ]:
type(19)                        # Int
type(200.58)                    # Float
type(5j + 1)                    # Complex
type('Ishan')                   # String
type(True)                      # Boolean
type([2, 3, 5, 7, 9])           # List
type({'fname' : 'Ishan'})       # Dictionary
type((3, 6, 9, 12))             # Tuple
type({2.5, 7.5, 5.0})           # Set

__________________________________________________________________________

## **Exercise:**

Q1. Write an example for different Python data types such as Number(Integer, Float, Complex), String, Boolean, List, Tuple, Set and Dictionary.

Q2. Find an Euclidian distance between (2, 3) and (10, 8)

In [ ]:
# Q1.

print(type(20))
print(type(19.99))
print(type(7j + 4))
print(type('This is Python Exercise'))
print(type(True))
print(type([9, 'Nine']))
print(type({'Fruit' : 'Mango'}))
print(type((1, 2, 3, 4, 5)))
print(type({2.2, 4.6, 1.9}))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

In [ ]:
# Q2.

point1 = (2, 3)
point2 = (10, 8)

distance = ((point1[0] - point2[0]) ** 2 + (point1[1] - point2[1]) **2)
root = round(distance ** 0.5, 2)
print(f"The Eculidian Distance between {point1} and {point2} is {root}.")

The Eculidian Distance between (2, 3) and (10, 8) is 9.43.