<a href="https://colab.research.google.com/github/ishan-DA/Python-Tutorial/blob/main/Day_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Tuples**

A tuple is a collection of different data types which is ordered and unchangeable. Tuples are written with round brackets (). We cannot use add, insert and remove methods in a tuple becaues it is not modifiable. Unlike list, tuple has few methods:

* tuple(): to create an empty tuple
* count(): to count the number of a specified item in a tuple
* index(): to find the index of a specified item in a tuple

In [ ]:
# creating an empty tuple

_tuple1 = ()
_tuple2 = tuple()     # using the tuple constructor

In [ ]:
# giving values to tuple

fruits = ('apple', 'banana', 'mango', 'guava')

In [ ]:
# checking length of tuple

len(fruits)

In [ ]:
# accessing the tuples

fruits = ('apple', 'banana', 'mango', 'guava', 'orange')
fruits[3]

index = len(fruits) - 1     # substract 1 from the length of tuple
print(index)

f_item = fruits[-4]       # gives the 4th index item from the end
print(f_item)

In [ ]:
# slicing tuples

fruits = ('apple', 'banana', 'mango', 'guava', 'orange')
fruits[1:]         # skips the first index position goes till end
fruits[0:4]        # returns till the 4th position
fruits[1:4]        # doesn't include item at index 4

fruits[::-1]       # reverses the tuple
fruits[-4:-1]      # exclude last and first items

In [ ]:
# changing tuples to list

fruits = ('apple', 'banana', 'mango', 'guava', 'orange')
fruits = list(fruits)         # changed to List
fruits[2]
print(fruits)
fruits = tuple(fruits)        # back to tuple from list
print(fruits)

In [ ]:
# checking an item in a tuple

fruits = ('apple', 'banana', 'mango', 'guava', 'orange')
print('banana' in fruits)
print('apple' not in fruits)

In [ ]:
# joining tuples

num1 = (1, 2, 3, 4, 5)
num2 = (6, 7, 8, 9, 10)
final = num1 + num2
print(final)

In [ ]:
# deleting tuples

del final

__________________________________________________________________________

### **Exercise**

Q1. Join brothers and sisters tuples and assign it to siblings.

Q2. Modify the siblings tuple and add the name of your father and mother and assign it to family_members.

Q3. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

Q4. Check if an item exist in tuple:

* Check if 'Estonia' is a nordic country.

* Check if 'Iceland' is a nordic country.

In [ ]:
# Q1

brothers = ('Ram', 'Shyam')
sisters = ('Sita', 'Gita')
siblings = brothers + sisters
print(siblings)

In [18]:
# Q2

siblings = list(siblings)
siblings.append('Ramesh')
siblings.append('Rekha')
siblings = tuple(siblings)
family_members = siblings

In [ ]:
# Q3

fruits = ('banana', 'apple', 'guava')
vegetables = ('potato', 'onion', 'cabbage')
animal_products = ('meat', 'ham', 'sausage')
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

In [ ]:
# Q4

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)